apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: demo

resources:
  - namespace.yaml
  - secrets.yaml
  - configmap.yaml
  - postgres.yaml
  - redis.yaml
  - user-service.yaml
  - call-service.yaml
  - delivery-service.yaml
  - gateway.yaml
  - cloudflared.yaml
  - ingress.yaml
