apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-provisioning
  namespace: demo
  labels:
    app: grafana
data:
  datasources/datasource.yml: |
    apiVersion: 1
    
    datasources:
      - name: Prometheus
        type: prometheus
        access: proxy
        url: http://prometheus:9090
        isDefault: true
        editable: false
